*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-weight: 500;
}
body{
  font-family: monospace;
  height: 100%;
}
.nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(23, 66, 55);
  height: 80px;
  width: 100%;
}
.nav .leftMenu{
  display: flex;
  float: left;
  margin: 0;
}
.nav .rightMenu{
  display: flex;
  float: left;
  margin: 0 10px 0 0;
}
.nav .leftMenu li{
  display: inline-block;
  line-height: 77px;
  padding:  0 20px 0 20px;
  
}
.nav a{
  display: block;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  width: 100%;
  
}
.nav .logo{
  font-size: 23px;
  color: rgb(133, 116, 44);
  font-weight: bold;
}

.nav .leftMenu .hover:hover{
  background-color: rgb(133, 116, 44);
}
.leftMenu .hoverL:hover{
  background-color: rgb(33, 75, 75);
}
.leftMenu .activeL {
  background-color: rgb(33, 75, 75);
  height: 80px;
}
.leftMenu .active {
  background-color: rgb(133, 116, 44);
}

.rightMenu li{
  justify-content: space-between;
  padding: 0 10px 0 10px;
  align-self: center;
}
.rightMenu button{
  background-color: transparent;
  border: solid 3px rgb(133, 116, 44);
  border-radius: 100px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  padding: 15px;
}
.rightMenu button:hover{
  background-color: rgb(133, 116, 44);
}
.checkButton{
  color: white;
  line-height: 110px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
.checkButton i{
  font-size: 40px;
}
#check{
  display: none;
}
.background{
  display: flex;
  background: url(img/background.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  flex-wrap: wrap;
  align-content: start;
}
.imageSide{
  height: 100%;
  margin-left: 50px;
}
.textContainer{
  padding: 250px 50px 250px 50px;
}
.textContainer a{
  display: block;
  color: white;
  font-size: 35px;
  margin-bottom: 30px;
}
.textContainer .title{
  font-size: 50px;
}
.main button{
  background-color: transparent;
  border: solid 3px rgb(133, 116, 44);
  border-radius: 100px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
.main button:hover{
  background-color: rgb(133, 116, 44);
}
.headInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 30%;
}
.leftContact{
  width: 50%;
  height: 50%;
  padding: 0 50px 0 50px;
}
.headInfo a{
  width: fit-content;
  font-size: 40px;
  margin-top:10px;
  color: white;
  display: block;
}

.leftContact a{
  width: fit-content;
  font-size: 30px;
  color: white;
  display: block;
}
.TextC{
  margin-top: 40px;
  margin-bottom: 5px;
}
.rightContact{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
  padding: 0 50px 0 50px;
}
.rightContact input{
  color: white;
  font-size: 200%;
  padding-left: 10px;
  overflow: hidden;
  background-color: transparent;
  border: white solid 4px;
}
.rightContact textarea{
  color: white;
  font-size: 35px;
  padding: 10px 0 0 10px;
  overflow: hidden;
  background-color: transparent;
  border: white solid 4px;
}
.rightContact .areaHalf{
  width: 49%;
  height: 20%;
}
.rightContact .areaSubject{
  width: 100%;
  height: 20%;
}
.rightContact .areaMessage{
  width: 100%;
  height: 56%;
}
::placeholder{
  color: white;
}

@media (max-width: 1500px){
  .nav .leftMenu .logo{
    font-size: 19px;
  }
  .nav a{
    font-size: 13px;
  }
  .rightMenu button{
    font-size: 9px;
  }
  .textContainer a{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .textContainer .title{
    font-size: 30px;
  }
  .background{
    flex-direction: column;
    justify-content: center;
  }
  .imageSide{
    margin: 0;
  }
  .textContainer{
    position: absolute;
    align-self: center;
    padding: 0;
    width: 40vh;
    padding: 0 40px 0 40px;
  }
  .main button{
    font-size: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: rgba(177, 151, 80, 0.568);
  }
  .leftContact a{
    width: 100%;
    font-size: 20px;
  }
  .rightContact{
    width: 100%;
    margin-top: 50px;
    height: 30%;
  }
  .headInfo{
    height: 20%;
  }
  .leftContact{
    height: 30%;
  }
}
@media (max-width: 1050px){
  .background{
    display: flex;
    background: url(img/backgroundSide.jpg);
  }
  .rightMenu button{
    display: none;
  }
  .checkButton{
    display: block;
    position: absolute;
    float: right;
    margin:  0  0  0 calc(100% - 70px);
  }
  .nav{
    display: block;
  }
  .leftMenu {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .nav .leftMenu .hover{
    margin-top: -160px;
    padding: 0;
    background-color: rgb(23, 66, 55);
    transition: margin-top .5s;
    z-index: -1;
  }
  #check:checked ~ .hover{
    margin-top: 0px;
   }
   .background{
    height: calc(100vh - 80px);
    width: 100%;
   }
   .leftMenu{
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: rgb(23, 66, 55);
    left: 0%;
    text-align: center;
  }
  .nav ul li{
    display: block;
  }
  .imageSide{
    display: none;
  }
  .textContainer{
    width: 90%;
  }
  .textContainer .title{
    font-size: 75px;
  }
  .textContainer a{
    font-size: 30px;
  }
  .main button{
    font-size: 15px;
    padding: 17px;
    background-color: transparent;
    margin-top: 20px;
  }
  .leftContact{
    width: 100%;
    height: 30%;
  }
  .rightContact{
    width: 100%;
    margin-top: 50px;
    height: 30%;
  }
  .headInfo{
    height: 20%;
  }
  .leftContact a{
    font-size: 20px;
  }
  .centered {
    flex-direction: column;
    align-items: center;
  }

  .responsive-image {
    width: 100%;
    margin: 10px auto;
  }
}

.main {
  display: flex;
  justify-content: center;
}

.centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.responsive-image {
  width: 30%;
  height: auto;
  margin: 10px;
}
